.delete-form {
    background-color: white;
    color: #264A50;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin: 20px auto; /* Centers horizontally */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; Optional: Makes it center vertically too */
}
